.custom-table .ant-table-thead th {
  background-color: #DCDCDC !important; 
  color: #333; 
}

.table-container {
  overflow-x: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.ant-spin-container {
  width: fit-content;
}